@charset "windows-1252";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
    font-size: 17px;
}

.container {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}

.container img {vertical-align: middle; horizontal-align: left;}

.container .content {
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.5); /* Black background with transparency */
    color: #f1f1f1;	 
   /* width: 100%;*/
    width: 100%;
    padding: 30px;
}

